<div class="page-header">
  <h1>To-do Lists</h1>
</div>

<% if policy(List.new).create? %>
  <%= link_to "New List", new_list_path, class: 'btn btn-sucess' %>
<% end %>

<div class="col-md-8">
  <ul class="list-group">
      <% @lists.each do |list| %>
    <li class="list-group-item">
        <%= link_to list.description, list %>
      <% end %>
    </li>
  </ul>
</div>
